body { 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
  color: #fff;
}

.wrapper {
  padding: 10px;
  width: 30%;
  margin: 0 auto;
  background-image: linear-gradient(to right top, #004d7a, #004d7a, #008793, #00bf72, #b8cf86);
  text-align: center;
}

h1 { 
  margin: 5px 0;
  font-size: 35px; 
}

h2 {
  margin: 5px 0;
  font-size: 30px;
}

#search-result {
  padding: 10px 20px;
  border: transparent;
  border-radius: 20px;
}

.search {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbtn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.degree-button button {
  padding: 5px 20px;
  background-color: #b8cf86;
  border: none;
  color: #004d7a,;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
  
.weather {
  padding: 5px 0;
  margin: 10px;
}

.humidity {
  margin: 10px 0;
  font-size: 30px;
}

.pressure {
  margin: 2px 0;
  font-size: 25px;
}